In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

Matplotlib is building the font cache; this may take a moment.

In [2]:
data_path = "cleaned_data.csv"

In [3]:
data = pd.read_csv(data_path)

In [4]:
data.head()

,Unnamed: 0,hhid,year,region,femaleh,satth,hhsize,f0t6,m0t6,f7t12,...,Quintile 3,Quintile 4,Quintile 5,%work13t15,%work16t18,%work10t12,%work10t18_x,Childlabour_x,%work10t18_y,Childlabour_y
0,0,1.201160e+11,2005,Sumatra,0,Primary,10,0.0,0.0,0.000000,...,0,0,0,0.0,0.000000,0.0,0.000000,0,0.00,0
1,1,1.201160e+11,2005,Sumatra,0,Primary,7,0.0,0.0,0.142857,...,0,0,0,0.0,0.000000,0.0,0.000000,0,0.25,1
2,2,1.201160e+11,2005,Sumatra,0,Primary,6,0.0,0.0,0.000000,...,0,0,0,0.0,0.166667,0.0,0.166667,1,0.00,0
3,3,1.202050e+11,2005,Sumatra,0,Primary,5,0.0,0.0,0.000000,...,0,0,0,0.0,0.200000,0.0,0.200000,1,0.20,1
4,4,1.202050e+11,2005,Sumatra,0,Primary,3,0.0,0.0,0.000000,...,0,0,1,0.0,0.000000,0.0,0.000000,0,0.00,0

In [6]:
data=data.drop(["Unnamed: 0", "%work10t18_y"], axis=1)

In [7]:
data.head()

,hhid,year,region,femaleh,satth,hhsize,f0t6,m0t6,f7t12,m7t12,...,Quintile 2,Quintile 3,Quintile 4,Quintile 5,%work13t15,%work16t18,%work10t12,%work10t18_x,Childlabour_x,Childlabour_y
0,1.201160e+11,2005,Sumatra,0,Primary,10,0.0,0.0,0.000000,0.000000,...,0,0,0,0,0.0,0.000000,0.0,0.000000,0,0
1,1.201160e+11,2005,Sumatra,0,Primary,7,0.0,0.0,0.142857,0.000000,...,0,0,0,0,0.0,0.000000,0.0,0.000000,0,1
2,1.201160e+11,2005,Sumatra,0,Primary,6,0.0,0.0,0.000000,0.333333,...,0,0,0,0,0.0,0.166667,0.0,0.166667,1,0
3,1.202050e+11,2005,Sumatra,0,Primary,5,0.0,0.0,0.000000,0.000000,...,1,0,0,0,0.0,0.200000,0.0,0.200000,1,1
4,1.202050e+11,2005,Sumatra,0,Primary,3,0.0,0.0,0.000000,0.000000,...,0,0,0,1,0.0,0.000000,0.0,0.000000,0,0

In [8]:
# Assign X (data) and y (target)
X = data.drop("Childlabour_y", axis=1)
y = data["Childlabour_y"]
print(X.shape, y.shape)

(4353, 38) (4353,)