# Set up and module installation

In [122]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os
import seaborn as sns
import statsmodels.api as sm
import numpy as np

In [87]:
#load our cleaned data in

In [88]:
data_path = "cleaned_data.csv"

In [89]:
data = pd.read_csv(data_path)

In [90]:
data.head()

,Unnamed: 0,femaleh,hhsize,f0t6,m0t6,f7t12,m7t12,f13t15,f16t18,f19t60,...,Sumatra,Java and Bali,Kalimantan,Sulawesi,%work10t12,%work13t15,%work16t18,%work10t18,Childlabour_05,Childlabour_06
0,0,0,10,0.0,0.0,0.000000,0.000000,0.100000,0.100000,0.500000,...,1,0,0,0,0.0,0.0,0.000000,0.000000,0,0
1,1,0,7,0.0,0.0,0.142857,0.000000,0.000000,0.142857,0.571429,...,1,0,0,0,0.0,0.0,0.000000,0.000000,0,1
2,2,0,6,0.0,0.0,0.000000,0.333333,0.166667,0.166667,0.166667,...,1,0,0,0,0.0,0.0,0.166667,0.166667,1,0
3,3,0,5,0.0,0.0,0.000000,0.000000,0.000000,0.200000,0.200000,...,1,0,0,0,0.0,0.0,0.200000,0.200000,1,1
4,4,0,3,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.333333,...,1,0,0,0,0.0,0.0,0.000000,0.000000,0,0

In [91]:
data=data.drop(["Unnamed: 0"], axis=1)

In [92]:
data.head()

,femaleh,hhsize,f0t6,m0t6,f7t12,m7t12,f13t15,f16t18,f19t60,m13t15,...,Sumatra,Java and Bali,Kalimantan,Sulawesi,%work10t12,%work13t15,%work16t18,%work10t18,Childlabour_05,Childlabour_06
0,0,10,0.0,0.0,0.000000,0.000000,0.100000,0.100000,0.500000,0.0,...,1,0,0,0,0.0,0.0,0.000000,0.000000,0,0
1,0,7,0.0,0.0,0.142857,0.000000,0.000000,0.142857,0.571429,0.0,...,1,0,0,0,0.0,0.0,0.000000,0.000000,0,1
2,0,6,0.0,0.0,0.000000,0.333333,0.166667,0.166667,0.166667,0.0,...,1,0,0,0,0.0,0.0,0.166667,0.166667,1,0
3,0,5,0.0,0.0,0.000000,0.000000,0.000000,0.200000,0.200000,0.0,...,1,0,0,0,0.0,0.0,0.200000,0.200000,1,1
4,0,3,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.333333,0.0,...,1,0,0,0,0.0,0.0,0.000000,0.000000,0,0

# Get test and train splits, scale data

In [93]:
# Assign X (data) and y (target), reshape the y array
X = data.drop(["Childlabour_06"], axis=1)
y = data["Childlabour_06"]
print(X.shape, y.shape)

(4353, 35) (4353,)

In [94]:
#Split our data into training and testing

In [95]:
from sklearn.model_selection import train_test_split

In [96]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [97]:
type(X_test)

pandas.core.frame.DataFrame

In [98]:
X_test.shape

(1089, 35)

In [99]:
X_train.shape

(3264, 35)

In [50]:
#Scale our data

In [51]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)

In [52]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [100]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter = 10000)
classifier

LogisticRegression(max_iter=10000)

In [101]:
#Fit (train) or model using the training data

In [102]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=10000)

# Check model fit

In [103]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9420955882352942
Testing Data Score: 0.9393939393939394

In [104]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [0 0 0 0 0 0 0 0 0 0]
First 10 Actual labels: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [105]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

      Prediction  Actual
0              0       0
1              0       0
2              0       0
3              0       0
4              0       0
...          ...     ...
1084           0       0
1085           0       1
1086           0       0
1087           0       0
1088           0       0

[1089 rows x 2 columns]

In [106]:
#Let's get a statistical summary of our logistic model
import statsmodels.api as sm
logit_model=sm.Logit(y,X)
result=logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.170735
         Iterations 9
                                  Results: Logit
==================================================================================
Model:                     Logit                 Pseudo R-squared:      0.243
Dependent Variable:        Childlabour_06        AIC:                   1550.4229
Date:                      2020-10-22 01:13      BIC:                   1754.5388
No. Observations:          4353                  Log-Likelihood:        -743.21
Df Model:                  31                    LL-Null:               -981.98
Df Residuals:              4321                  LLR p-value:           1.9338e-81
Converged:                 1.0000                Scale:                 1.0000
No. Iterations:            9.0000
----------------------------------------------------------------------------------
                  Coef.     Std.Err.      z    P>|z|      [0.025         0.975]
----------------------------------------------------------------------------------
femaleh           0.4850        0.3010  1.6115 0.1071        -0.1049        1.0750
hhsize            0.2177        0.0499  4.3581 0.0000         0.1198        0.3155
f0t6             -0.5472        1.3927 -0.3929 0.6944        -3.2769        2.1824
m0t6             -0.0644        1.4644 -0.0440 0.9649        -2.9345        2.8058
f7t12             2.2383        1.4643  1.5286 0.1264        -0.6317        5.1083
m7t12             0.8474        1.4662  0.5779 0.5633        -2.0263        3.7211
f13t15            3.6667        1.6594  2.2097 0.0271         0.4144        6.9190
f16t18            2.4723        1.6711  1.4794 0.1390        -0.8030        5.7477
f19t60           -0.0144        1.5839 -0.0091 0.9928        -3.1187        3.0899
m13t15            4.3322        1.6553  2.6171 0.0089         1.0878        7.5765
m16t18            4.1334        1.6533  2.5000 0.0124         0.8929        7.3738
m19t60            1.0923        1.5402  0.7092 0.4782        -1.9265        4.1111
f61              -1.8669        1.8601 -1.0037 0.3155        -5.5126        1.7788
m61               1.1453        1.7251  0.6639 0.5068        -2.2359        4.5265
rural             0.5108        0.1787  2.8586 0.0043         0.1606        0.8610
No education     -3.2509 36634943.6115 -0.0000 1.0000 -71803173.3051 71803166.8033
Primary          -3.1053 38862962.2083 -0.0000 1.0000 -76170009.3662 76170003.1556
Junior secondary -3.4143 37731163.1285 -0.0000 1.0000 -73951724.2410 73951717.4124
Senior secondary -4.0863 35553574.8925 -0.0000 1.0000 -69683730.3972 69683722.2246
Higher           -3.5659 37198083.6518 -0.0000 1.0000 -72906907.8174 72906900.6855
Quintile 1       -0.0691  7399667.5417 -0.0000 1.0000 -14503081.9485 14503081.8103
Quintile 2       -0.3650  6868126.8570 -0.0000 1.0000 -13461281.6461 13461280.9160
Quintile 3       -0.4085  7241000.0438 -0.0000 1.0000 -14192099.7063 14192098.8893
Quintile 4       -0.4273  5270444.3037 -0.0000 1.0000 -10329881.4450 10329880.5905
Quintile 5        0.0498  6205690.5259  0.0000 1.0000 -12162929.8802 12162929.9798
Other islands    -1.8969 31662502.1459 -0.0000 1.0000 -62057365.7633 62057361.9695
Sumatra          -2.0743 31572185.2504 -0.0000 1.0000 -61880348.0784 61880343.9298
Java and Bali    -2.0290 31300542.1455 -0.0000 1.0000 -61347937.3308 61347933.2728
Kalimantan       -1.6970 31298581.8478 -0.0000 1.0000 -61344094.8859 61344091.4918
Sulawesi         -1.6241 31360144.4555 -0.0000 1.0000 -61464755.3069 61464752.0587
%work10t12        1.8849           nan     nan    nan            nan           nan
%work13t15        2.1994           nan     nan    nan            nan           nan
%work16t18       -0.8368           nan     nan    nan            nan           nan
%work10t18        3.2475           nan     nan    nan            nan           nan
Childlabour_05    1.0472        0.3696  2.8335 0.0046         0.3228        1.7716
==================================================================================

In [107]:
#Hmmmmm this doesn't look quite right to be honest- no education or income quintiles are showing as statistically significant
#Low r-squared score. Damn
#May need to add in the last of each dummy variables. 
#Consider scaling household size?

# Analysis of Model performance

In [108]:
#confusion matrix

In [109]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, predictions)
print(confusion_matrix)

[[1016   11]
 [  55    7]]

In [110]:
# Referring to documentation www.scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html
#the confusion matrix returns an output array as below for a binary target variable:
#  [(tn, fp, 
 #   fn, tp)]

In [111]:
#So the confusion matrix tells us of 1089 predictions in the X_test and y_test data set, there were 1016 True Negative results, 
#and 7 True Positives for a total of 1025 correct predictions

In [112]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.95      0.99      0.97      1027
           1       0.39      0.11      0.18        62

    accuracy                           0.94      1089
   macro avg       0.67      0.55      0.57      1089
weighted avg       0.92      0.94      0.92      1089

In [113]:
#So overall our model doesn't seem that great.
#It seems quite bad at actually correctly identifying/predicting households where children go on to enter the labour market.
#This may be due to the highly imblanced dataset we are using, 
#Recalling our Exploratory Data Analysis only 5% of households actually have household labour- according to our survey earlier

In [114]:
from imblearn.over_sampling import SMOTE

In [115]:
os = SMOTE(random_state=0)

In [119]:
y_train.value_counts()

0    2868
1     179
Name: Childlabour_06, dtype: int64

In [120]:
smt = SMOTE()
X_train, y_train = smt.fit_sample(X_train, y_train)

In [123]:
np.bincount(y_train)

array([2868, 2868], dtype=int64)

In [128]:
#We now have perfectly balanced sample sizes in our training data set

In [129]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=10000)

In [130]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8952231520223152
Testing Data Score: 0.9081163859111792

In [127]:
predictions = classifier.predict(X_test)

In [131]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.96      0.94      0.95      1226
           1       0.32      0.45      0.38        80

    accuracy                           0.91      1306
   macro avg       0.64      0.69      0.66      1306
weighted avg       0.92      0.91      0.92      1306

In [133]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, predictions)
print(confusion_matrix)

[[1150   76]
 [  44   36]]

In [ ]:
#Hmmm, so our accuracy has decreased somewhat, 
#However, we are picking up more true positives and our recall has improved after using SMOTE